.logo {
    margin-top: -4px;
    font: 25px Courier New, Courier, monospace;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p.examples__summary {
    margin: 0;
    font-size: 16px;
}

.jumbotron {
    padding-bottom: 30px;
}

.examples__summary-list {
    margin: 0;
}

.examples__thumbnail img {
    height: 250px;
}

.examples__hamburger-qr {
    width: 75px !important;
    height: 75px !important;
}

.hamburger__qr-container:link, .hamburger__qr-container:visited {
    color: #333;
}

.hamburger__qr {
    width: 75px;
    height: 75px;
}

.hamburger__qr-caption {
    text-align: center;
}

li.active a {
    cursor: default;
}
