@font-face {
    font-family: 'rac-icons';
    src: url('./../fonts/rack-icons.woff2') format('woff2'),
        url('./../fonts/rack-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
